<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="goback()" >
          <ion-icon slot="start" color="dark" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Restaurant Image</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-content padding class="card-background-page">


      <ion-button color="primary" shape="round" (click)="imageOptions()">
      Take Photo
      </ion-button>


        <ion-grid>
            <ion-row>
              <ion-col size="6" *ngFor="let photo of picture; let id = index">
                <ion-card class="block">
                  <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
                  <img [src]="photo" *ngIf="photo" />
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>

</ion-content>
