<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start" (click)="goBack()">
        &nbsp;
        <img class="go_back" src="assets/images/goback2.png" />
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-grid>
        <form role="form" [formGroup]="infoForm" (ngSubmit)="onSubmit()" >

        <ion-row class="editrow">
          <ion-col size="12" text-center style="margin-top:25vw;">
            <img src="assets/images/resume copy.svg" alt="edits">
          </ion-col>

          <div *ngIf=" submitted && f.name.errors || submitted && f.email.errors || submitted && f.number.errors || profileerror" >
              <div class="error_message">{{profileerrormsg}}</div>
          </div>

          <ion-col size="12">
              <ion-item>
                  <ion-label class="placeholder_color" position="floating">Name</ion-label>
                  <ion-input type="text" formControlName="name" [(ngModel)]="profileInfo.name" [ngClass]="{ 'is-invalid': submitted &&  f.name.errors }">
                  </ion-input>
                </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label class="placeholder_color" position="floating">Email address</ion-label>
                  <ion-input type="email" formControlName="email" [(ngModel)]="profileInfo.email" [ngClass]="{ 'is-invalid': submitted &&  f.email.errors }" >
                  </ion-input>
                </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label class="placeholder_color" position="floating">Mobile Number</ion-label>
                  <ion-input type="number" formControlName="number" [(ngModel)]="profileInfo.number" [ngClass]="{ 'is-invalid': submitted &&  f.number.errors }" >
                  </ion-input>
                </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>
            <button type="submit" ion-button class="common_button_style" >Save</button>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin">
            <ion-col text-center>
              <ion-button routerLink="/edituseraddress" fill="clear" > Change Address ?</ion-button>
            </ion-col>
          </ion-row>
    
        </form>
      </ion-grid>
    </ion-content>
