<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button>
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button>
          <!-- <ion-icon slot="icon-only" name="search"></ion-icon> -->
          <img src="../../assets/images/search.svg" alt="search">
        </ion-button>
      </ion-buttons>
      <ion-title>Your Account</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>

    <ion-grid no-padding>
        <ion-row no-padding align-items-center style="margin-top:7vw;">
          <ion-col size="4" text-center no-padding>
            <button ion-button class="custom_btn1" routerLink="/edituserprofile" >Edit Profile</button>
          </ion-col>
          <ion-col size="4" text-center no-padding>
            <div class="profile--view--container">
              <img *ngIf="!userInfo.user_pic" src="assets/images/l5.png" class="profile_img" alt="User-Image" />
              <img *ngIf="userInfo.user_pic" src="{{ userInfo.user_pic }}" class="profile_img" alt="User-Image" />
              <button ion-button class="camera_btn" (click)="imageOptions()">
                  <img src="assets/images/camera.svg" class="camera_icon" />
                </button>
            </div>
          </ion-col>
          <ion-col size="4" text-center no-padding>
            <button (click)="imageOptions()" ion-button class="custom_btn1">Pic Change</button>
          </ion-col>
          <ion-col size="12" class="restaurant_name" text-center>
            {{ userInfo.name }}
          </ion-col>
        </ion-row>
        <ion-row class="about">
          <ion-col size="12" class="about-col">
            <ion-row>
              <ion-col text-center size="2" class="ion-no-padding">
                <!-- <img src="assets/images/email.svg" alt=""> -->
                <ion-icon name="mail"></ion-icon>
              </ion-col>
              <ion-col text-left size="10">
                {{ userInfo.email }}
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="12" class="about-col">
            <ion-row>
              <ion-col text-center size="2">
                <img src="assets/images/call.svg" alt="">
              </ion-col>
              <ion-col text-left size="10">
                {{ userInfo.number }}
              </ion-col >
            </ion-row>
          </ion-col>
          <ion-col size="12" class="about-col">
            <ion-row>
              <ion-col text-center size="2">
                <img src="assets/images/pin.svg" alt="">
              </ion-col>
              <ion-col text-left size="10">
                  {{ userInfo.user_address }}
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" text-center class="table_heading">
              Restaurant/Store Owner
          </ion-col>
          <ion-col class="table" no-padding>
            <ion-item lines="none" text-wrap>
                 Add Restaurant  <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            </ion-item>
            <ion-item lines="none">
              Manage Restaurant <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            </ion-item>
            <ion-item  lines="none">
                Manage Menu <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            </ion-item>
            <ion-item lines="none">
                Add Menu <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            </ion-item>
            <ion-item lines="none">
                Manage Photos <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            </ion-item>
            <ion-item lines="none" >
                Add Photos <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            </ion-item>
            <ion-item lines="none">
                Manage Order <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            </ion-item>
            <ion-item lines="none" style="border-bottom:none;">
                Manage Time <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>    
      </ion-grid>

</ion-content>
