.mt-10{
  margin-top: 8%;
}

.mt-20{
  margin-top:15%;
}

.title_with_logo{
  font-family: 'BebasNeue','Roboto Condensed','Poppins',sans-serif;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-align: center;
  color: var( --ion-color-secondary );
}

.placeholder_color{
  color: var( --ion-color-tertiary );
  font-size:15px; 
}

.password_eye{
  margin-top: 32px;
  color: var( --ion-color-tertiary );
}

.forgot_style{

  font-family: Poppins;
  font-size: 14px;
  text-align: end;
  margin-right: 9%;
  line-height: 1.5;
  color: var( --ion-color-secondary );

}

.Register_login_style{
  font-family: 'Poppins','Roboto condensed', sans-serif;
  // color:"#abb4bd";
  font-size: 15px;
  line-height: 10px;
  color: var( --ion-color-medium );
  text-align: center;
  
  span{
    color: var( --ion-color-secondary );
    font-weight: 500;
  }
  
}

.Login_skip_style{
    
    line-height: 1.53;
    font-family: 'Poppins', 'Roboto condensed', sans-serif;
    font-size: 18px;
    color: #aa642f;
    font-weight: 500;

  }