.mt-5{
  margin-top: 5%;
}

.go_back{
  width: 50%;
  margin-left: 4px;
}


#skip_button{
  font-size: 20px;
  font-family: 'Poppins','Roboto',sans-serif;
  font-weight: 500;
  margin: 2px 0;
  width: 100%;
  background: none !important;
  text-align: end;
  cursor:pointer;
  z-index:5;
}