<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
          <ion-menu-button color="dark"></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <!-- <ion-icon slot="icon-only" name="search"></ion-icon> -->
        <img src="assets/images/search.svg" alt="search">
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-no-padding" >Your Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col size="12" class="restaurant_list" no-padding>
                    <ion-card class="detail_card" no-padding *ngFor="let list of orderInfo">
                      <ion-row no-padding>
                        <ion-col size="4" no-padding>
                          <img *ngIf="list.tbl_menus_pic"  src="{{ list.tbl_menus_pic }}"/>
                          <img *ngIf="!list.tbl_menus_pic" src="assets/images/sldier1.png"/>
                        </ion-col>
                        <ion-col size="8" class="ion-no-padding">
                          <ion-row>
                            <ion-col class="r_name" size="10">
                              <h6 class="ion-no-margin">{{ list.tbl_menus_name }}</h6>
                            </ion-col>
                            <ion-col size="2" text-right >
                                <ion-buttons fill="clear" class="deletebutton" (click)="deleteItem(list.tbl_menu_id , list.restaurantid)">
                                  <ion-icon name="trash"></ion-icon>
                                </ion-buttons>
                              </ion-col>
                            <ion-col class="r_address" size="10">
                             {{ list.tbl_menus_description }}
                            </ion-col>
                            <ion-col size="10" class="price"  text-left >
                              $ {{ list.tbl_menus_price }}
                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                    </ion-card>
            </ion-col>
            <ion-col class="ion-margin" size="6" offset="3">
              
              <ion-button shape="round" class="common_button_style" (click)="onClick()">
                Send Enquiry
              </ion-button>
              
            </ion-col>
          </ion-row>
      </ion-grid>

</ion-content>
