<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button>
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button>
          <img src="../../assets/images/search.svg" alt="search">
        </ion-button>
      </ion-buttons>
      <ion-title class="ion-no-padding">Manage Menu</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
          <ion-col size="12" class="restaurant_list" *ngFor="let menulist of restaurantList">
              <ion-card class="detail_card ion-no-padding" >
                <ion-row no-padding>
                  <ion-col size="4" no-padding>
                    <img src="{{ menulist.imageurl }}"/>
                  </ion-col>
                  <ion-col size="8">
                    <ion-row>
                      <ion-col class="r_name" size="10">
                        <h4 class="ion-no-margin" >{{menulist.tbl_menus_name}}</h4>
                      </ion-col>
                      <ion-col size="2">
                        <ion-button fill="clear" ion-button class="r_edit">
                          <ion-icon name="md-create"></ion-icon>
                        </ion-button>
                      </ion-col>
                      <ion-col class="r_address" size="12">
                        {{menulist.tbl_menus_description}}
                      </ion-col>
                      <ion-col size="6" class="price" text-left>
                       <h3 class="ion-no-margin"> ${{menulist.tbl_menus_price}} </h3>
                      </ion-col>
                      <ion-col size="6" text-right style="padding-top:1vw; padding-bottom:0px;">
                          <ion-toggle [(ngModel)]="menulist.checkstatus" (ionChange)="notify(menulist.tbl_menus_id, menulist.checkstatus)">   
                          </ion-toggle>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

</ion-content>
