ion-slide{
  height: 100vh;
  position: relative;

  .skip_position{
    position: absolute;
    top: 2%;
    right: 6%;
  }

  #skip_button{
    font-size: 20px;
    font-family: 'Poppins','Roboto',sans-serif;
    font-weight: 500;
    margin: 0;
    width:100%;
    background:none !important;
    text-align:center;
    cursor:pointer;
    z-index:5;
  }

  #Get_Started_Button{
    font-size: 20px;
    font-family: 'Poppins','Roboto',sans-serif;
    font-weight: 400;
    text-align: center;
    color: #fff;
    width: 188px;
    height: 50px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eca671), to(#e97c28));
    background: linear-gradient(to bottom, #eca671, #e97c28);
    line-height: 1.5;
    letter-spacing: 0.36px;
    box-shadow: 0 3.5px 12px 0 rgba(255, 110, 0, 0.53);
  }

  .img_position{
    margin:0;
  }

  ion-img { 
    margin: 0 15px;
  }

  .title_position{
    margin:0;
  }

  h1{
    text-align:center;
    font-size: 25px;
    font-family: 'Poppins','Roboto',sans-serif;
    font-weight: 700;
    color: var(---ion-color-success);
    }

  .content_position{
    margin: 0;
  }

  .intro_content{
    text-align: center;
    font-size: 15px;
    font-family: 'Poppins','Roboto',sans-serif;
    font-weight: 500;
    line-height: 40px;
    padding: 0 20px;
  }

}