// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #FF9F56;
  --ion-color-primary-rgb: 255,159,86;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #e08c4c;
  --ion-color-primary-tint: #ffa967;

  --ion-color-secondary: #A9632D;
  --ion-color-secondary-rgb: 169,99,45;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #955728;
  --ion-color-secondary-tint: #b27342;

  --ion-color-tertiary: #ABB4BD;
  --ion-color-tertiary-rgb: 171,180,189;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #969ea6;
  --ion-color-tertiary-tint: #b3bcc4;

  --ion-color-success: #303030;
  --ion-color-success-rgb: 48,48,48;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #2a2a2a;
  --ion-color-success-tint: #454545;

  --ion-color-warning: #756E6E;
  --ion-color-warning-rgb: 117,110,110;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #676161;
  --ion-color-warning-tint: #837d7d;

  --ion-color-danger: #E97C28;
  --ion-color-danger-rgb: 233,124,40;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #cd6d23;
  --ion-color-danger-tint: #eb893e;

  --ion-color-dark: #ffffff;
  --ion-color-dark-rgb: 255,255,255;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0,0,0;
  --ion-color-dark-shade: #e0e0e0;
  --ion-color-dark-tint: #ffffff;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

$colors: (

  theme_color_1:  #FF9F56,
  theme_color_2:  #A9632D,
  theme_color_3:  rgb(250, 175, 118),
  
  placeholder : #ABB4BD,
  
  gradient_1: #ECA671,
  gradient_2: #E97C28,
  
  grey:      #756E6E,
  dark:       #303030,
  
  twitter: (
    base: #55acee,
    contrast: #ffffff
    )

  );





