<div *ngIf="showSplash" class="splash">
  <div class="spinner"></div>
</div>

<div *ngIf="loading" class="splash">
  <div class="spinner"></div>
</div>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<ion-app>

  <ion-router-outlet></ion-router-outlet>

  <ion-split-pane>
    <ion-menu type="overlay" class="my_custom-menu">
      <ion-header>
        <ion-toolbar class="menu_header">
          <ion-title text-left>Hello,<span> {{userName}}</span></ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="sidebar_list-style">
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false">
            <br>
            <ion-item class="list_style" [routerDirection]="'root'">
              <ion-label routerLink="/home">
                Home
              </ion-label>
            </ion-item>
            <!-- <ion-item class="list_style" [routerDirection]="'root'">
              <ion-label  routerLink="/cart" >
                Your Cart
              </ion-label>
            </ion-item> -->
            <hr class="hr">
            <ion-item class="list_style" [routerDirection]="'root'">
              <ion-label routerLink="/videos">
                Videos
              </ion-label>
            </ion-item>
            <ion-item class="list_style" (click)="events()" [routerDirection]="'root'">
              <ion-label>
                Events
              </ion-label>
            </ion-item>

            <!-- <ion-item class="list_style" [routerDirection]="'root'">
              <ion-label  routerLink="/userprofile" >
                Your Account
              </ion-label>
            </ion-item> -->
            <!-- <ion-item class="list_style" [routerDirection]="'root'">
              <ion-label  routerLink="/managerestaurant" >
                Your Restaurant
              </ion-label>
            </ion-item> -->
            <!-- <ion-item class="list_style" [routerDirection]="'root'">
              <ion-label  routerLink="/addrestaurant" >
                Add Restaurant
              </ion-label>
            </ion-item> -->
            <hr class="hr">
            <!-- <ion-item class="list_style" [routerDirection]="'root'">
              <ion-label  routerLink="/manageorder" >
                Manage Order
              </ion-label>
            </ion-item> -->
            <!-- <ion-item class="list_style" [routerDirection]="'root'">
              <ion-label  routerLink="/timemanage" >
                Manage Time
              </ion-label>
            </ion-item> -->

            <ion-item class="list_style" [routerDirection]="'root'">
              <ion-label routerLink="/home">
                Social Post
              </ion-label>
            </ion-item>
            <ion-item class="list_style" [routerDirection]="'root'">
              <ion-label>
                Write A Review
              </ion-label>
            </ion-item>
            <hr class="hr">
            <ion-item class="list_style" [routerDirection]="'root'">
              <ion-label routerLink="/aboutus">
                Legal & About
              </ion-label>
            </ion-item>
            <ion-item class="list_style" [routerDirection]="'root'">
              <ion-label routerLink="/support">
                Support
              </ion-label>
            </ion-item>
            <ion-item *ngIf="data.userid" class="list_style" [routerDirection]="'root'">
              <ion-label routerLink="/logout">
                Logout
              </ion-label>
            </ion-item>
            <ion-item *ngIf="!data.userid" class="list_style" [routerDirection]="'root'">
              <ion-label routerLink="/login">
                Login
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <div class="verison_container" text-center>App Version : 1.0</div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>