// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

// font-family 

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');

$colors: (

  theme_color_1:  #FF9F56,
  theme_color_2:  #A9632D,
  theme_color_3:  #E69A5E,
  
  placeholder : #ABB4BD,
  
  gradient_1: #ECA671,
  gradient_2: #E97C28,
  
  grey:      #756E6E,
  dark:       #303030,
  
  twitter: (
    base: #55acee,
    contrast: #ffffff
    )

    );

ion-content{
  font-family:'Roboto','Poppins',sans-serif;
}



.splash {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  // background :linear-gradient(#FF9F56 , #E69A5E);
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #e97c28;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.common_button_style{
  font-size: 20px;
  font-family: 'Poppins','Roboto',sans-serif;
  font-weight: 400;
  text-align: center;
  color: #fff;
  width: 188px;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#eca671), to(#e97c28));
  background: linear-gradient(to bottom, #eca671, #e97c28);
  line-height: 1.5;
  letter-spacing: 0.36px;
  box-shadow: 0 3.5px 12px 0 rgba(255, 110, 0, 0.53);
}

.placeholder_color{
  color: var( --ion-color-tertiary );
  font-size:15px; 
}

.error_message{
  color: #fff!important;
  background-color: #ff8695!important;
  margin: 0px 40px;
  text-align: center;
  padding: 10px;
}

.toast_alert-color{
  --background: #ff8695;
  --color: #fff;
  --border-radius: 0;

}

.my_custom-menu{
    --width: 70vw;
    background: transparent;
    box-shadow: 0.4vw 0.2vw 3vw #FF9F56;
  
    .menu_header{
    --background:linear-gradient(106deg, #ff9f56, #e69a5e) !important;
    height: 14vw !important;
    ion-title{
        font-size: 4vw;
        color: white;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-style: italic;
        // margin-top: 5px;
        padding: 5vw;
        line-height: 1.33;
        letter-spacing: 0.04em;
    }

    
    
}

.sidebar_list-style{

  .list_style{

    ion-label{

    --font-default: 'Roboto Condensed', sans-serif !important;

    font-family: var( --font-default ) !important;
    font-weight: normal;
    color: #303030;
    line-height: 1.35;
    letter-spacing: 0.09px;
    margin: 0 0 0 20px;

    }

  }

  hr{
    background: #FF9F56 !important;
  }

  .verison_container{
    font-family: 'Roboto Condensed', sans-serif;
    color: var( --ion-color-primary );
    font-size:15px;
    line-height: 1.35;
    letter-spacing: 0.09px;
  }

}

}

.my-custom-modal-css .modal-wrapper {
  height: 60%;
  bottom: 0%;
  position: absolute; 
  display: block;  
}

.select_popover{
  .popover-content {
      --min-width: 78% !important;
      --width: 78% !important;
  }
}

.special-done {
  font-weight: 600 !important;
  color: #fff !important;
}

.academy-picker {
  --background: #FF9F56;
  --ion-text-color: #fff;
  .picker-opt-selected {
      color: #303030;
  }
}

.remove-inner-padding{
--inner-padding-end : 0px;
  padding: 0px;
}




  // font-size for h tags

  $font-size-h1 : 24px;

  $font-size-h2 : 20px;

  $font-size-h3 : 18px;

  $font-size-h4 : 14px;

  $font-size-h5 : 12px;

  $font-size-h6: 10px;

  // font-size for h tags

  $font-size-p-xs : 15px;

  $font-size-p-sm : 20px;

  $font-size-p-md : 25px;

  $font-size-p-lg : 30px;

  $font-size-p-lx : 35px;

