<ion-content>

  <ion-grid>

    <ion-row class="mt-5">
      <ion-col class="ion-margin">
        <ion-img class="go_back" src="assets/images/goback.png"></ion-img>
      </ion-col>
    </ion-row>
    <div class="container_align">
      <ion-row>
        <ion-col text-center>
          <div class="img-container text-center">
            <ion-img class="ion-margin mail_icon" src="assets/images/email.svg"></ion-img>
          </div>
        </ion-col>
        <ion-col size="10" offset="1">
          <h6 class="display_custom_msg">
            Reset link sent successful please check your email for update your Password
          </h6>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin">
        <ion-col size="10" offset="1" text-center>
          <button routerLink="/login" class="common_button_style">
            Login
          </button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

</ion-content>