ion-header {
  ion-toolbar {
    --background: transparent;
    color: white;
    background-image: linear-gradient(to bottom, #ff9f56, #e69a5e);
    ion-icon {
      font-size: 8.5vw;
    }
    ion-title {
      font-family: "Poppins", sans-serif;
      font-size: 4.5vw;
      font-weight: 400;
    }
  }
}

.mcard_arrow{
  color: #ff9c5c;
  font-size: 10vw;
  margin-left: 84.5vw;
  margin-top: -5vw;  
}
.more_card{
  width: 56vw;
  height: 100vw;
 margin-left:38.5vw;
  margin-top: -5vw;
  text-align: center;
  background: #ff9c5c;
  
  button{
      background: transparent;
      color: #fff;
      padding: 1.5vw;
      font-size: 5.5vw;
  }

}
.morediv{
  position: fixed;
  z-index: 2;
  height:0px;
}
.heading{
  font-family: "poppins",sans-serif;
  padding: 3.5vw 3vw 0vw 3vw;
}
.r_name{
  font-size: 3.7vw;
}

.items{
  padding-top:1.5vw;
  font-size: 2.2vw;
  font-family: "poppins",sans-serif;
  color:#303030;
  font-weight: 500;
}
.add{
  width: 7vw;
  height: 7vw;
  background-color: #ef9c5c;
  border-radius: 50px;
  
  img{
      transform: rotate(180deg);
      width:5vw;
  }

}